.row{
   display: table;
   }
.column{
    width:30%;
    float:left;
    margin-left: .3cm;
    padding: 15px;
  }
p{
 text-align:justify;
 }
body{
     background-color: #FFE5B4; 
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     background-size: cover;
   }
